{{- define "costsByTag" }}
{{- range $provider, $rows := .TagCostRowsByProvider }}

<table>
  <thead>
    <tr>
      <td>{{ $provider }}</td>
      <td>Baseline cost*</td>
      <td>Total change</td>
      <td>New monthly cost</td>
    </tr>
  </thead>
  <tbody>
  {{- range $rows }}
    <tr>
      <td><code>{{ .TagKey }}:{{ .TagValue }}</code></td>
      <td align="right">{{ .MonthlyBaseline }}</td>
      <td align="right">{{ .MonthlyChange }}</td>
      <td align="right">{{ .MonthlyNew }}</td>
    </tr>
  {{- end }}
  </tbody>
</table>

{{- end }}

*The baseline cost is calculated as an average of the year to date for connected providers.
{{- end }}