{{- define "errors" }}
<h4>⚠️ New Project Errors</h4>

{{ .ProjectErrorCount }} introduced in this PR and could not be evaluated.

<ul>
{{- range .ProjectErrors }}
<li><b>{{ .Name | html }}</b></li>
<pre>{{ .Error | html }}</pre>
{{- end }}
</ul>
<hr/>
{{- end }}