{{- define "fixedIssues" }}
<details><summary>🟢 {{ .FixedIssuesSentence }}</summary>

{{ range .FixedIssueCounts -}}
- {{ .PolicyName | html }} {{ .FixedIssuesLabel | mdCode }}
{{ end -}}
{{ if .FixedIssuesTruncated -}}
- ...and {{ .FixedIssuesTruncated }} more {{ if eq .FixedIssuesTruncated 1 }}issue{{ else }}issues{{ end }}
{{ end -}}
</details>
{{- end }}