{{- define "projectCosts" }}
{{- if gt (len .CostTableEntries) 0 }}

| Changed project |{{ if .ShowModulePath }} Module path |{{ end }}{{ if .ShowWorkspace }} Workspace |{{ end }} Baseline cost | Usage cost{{ if .UsageCostsMsg }}*{{ end }} | Total change | New monthly cost |
| --- |{{ if .ShowModulePath }} --- |{{ end }}{{ if .ShowWorkspace }} --- |{{ end }} ---: | ---: | ---: | ---: |
{{- range .CostTableEntries }}
| {{ .ProjectName | mdCell }} |{{ if $.ShowModulePath }} {{ .ModulePath | mdCell }} |{{ end }}{{ if $.ShowWorkspace }} {{ .Workspace | mdCell }} |{{ end }} {{ .BaselineCostChange }} | {{ .UsageCostChange }} | {{ .TotalCostChange }} | {{ .NewTotalCost }} |
{{- end }}
{{- if .UsageCostsMsg }}

{{ .UsageCostsMsg }}
{{- end }}
{{- end }}
{{- end }}
